/* base color rgb(212, 237, 237)
primary color hwb(0 67% 28%) 
secondary color */


body {
    background-color: rgb(212, 237, 237);
    padding:0;
    margin:0;
}

#container{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 95vh;
}
footer{
    font-size: 1.56rem;;
    /* border:red 1px solid; */
    height: 5vh;
    display: flex;
    justify-content: center;
}
footer>p{
    padding:0;
    margin:0;
    margin-left: 10px;
}
#username{
    font-weight: 550;
}


#calculator {
    border: black solid 1px;
    width: 430px;
    height: 600px;
    background-color: hwb(0 67% 28%);
    border-radius: 12px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#calculator {
    box-shadow: -7px 7px 20px 0px black;
}

div#screen {
    /* border: black 1px solid; */
    width: 93%;
    height: 115px;
    margin-top: 23px;
    background-color: rgb(52, 47, 47);
    border-radius: 10px;
}

div#keypad {

    width: 93%;
    height: 420px;
    border-radius: 10px;
    background-color: hwb(0 67% 28%);
    /* border: 1px red solid; */
}

#AC {
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 10px;
    width: 45%;
    border-radius: 8px;
    background-color: rgb(199, 227, 252);
}
#AC:hover{
    opacity: .7;
}
#DEL {
    font-size: 3rem;
    margin-top: 10px;
    margin-right: 10px;
    width: 45%;
    border-radius: 8px;
    background-color: rgb(255, 186, 159);
}
#DEL:hover{
    opacity:0.7;
}

button {
    margin-left: 10px;
    margin-top: 10px;
}

#numbers {
    width: 78.6%;
    /* border: 1px red solid; */
    float: left;
}
button:hover{
    cursor:pointer;
}

.number {
    font-size: 2.1rem;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-right: 22px;
}
#equal {
    font-size:2.1rem;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-right: 22px;
}

.number:hover {
    opacity: 0.7;
}

#symbols {
    /* border: green 1px solid; */
    height: 320px;
    padding: 0;
    margin: 0;
}
.symbol {
    font-size: 3rem;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    margin-left: 15.6px;
    margin-top:15px;
}
.symbol:hover{
    opacity: 0.7;
}


#subtext{
    color:rgb(220, 210, 210);
    /* border:1px red solid; */
    height:23px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#maintext {
    color:white;
    /* border: red 1px solid; */
    height: 43px;
    font-size: 2.5rem;
    margin-top:29px;
    margin-bottom:0px;
    margin-right:10px;
    text-align: right;
}

.number{
    background-color: rgb(221, 242, 223);
}
.symbol{
    background-color: rgb(186, 237, 237);
}
#equal{
    background-color: rgb(223, 143, 143);
}
svg{
    margin-left:10px;
}
svg:hover{
    cursor: pointer;
    opacity:0.7;
}

#copyright{
    color: rgb(0, 0, 0);
}
#username{
    color:rgb(26, 19, 85)
}
