/* base color rgb(212, 237, 237)
primary color hwb(0 67% 28%) 
secondary color */


body {
    background-color: rgb(212, 237, 237);
    display: flex;
    justify-content: center;
    align-content: center;
}



#calculator {
    border: black solid 1px;
    width: 430px;
    height: 600px;
    background-color: hwb(0 67% 28%);
    border-radius: 12px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#calculator {
    box-shadow: -7px 7px 20px 0px black;
}

div#screen {
    /* border: black 1px solid; */
    width: 93%;
    height: 115px;
    margin-top: 23px;
    background-color: rgb(52, 47, 47);
    border-radius: 10px;
    display:flex;
    justify-content: right;
}

div#keypad {

    width: 93%;
    height: 420px;
    border-radius: 10px;
    background-color: hwb(0 67% 28%);
    border: 1px red solid;
}

#AC {
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 10px;
    width: 45%;
    border-radius: 8px;
}

#DEL {
    font-size: 3rem;
    margin-top: 10px;
    margin-right: 10px;
    width: 45%;
    border-radius: 8px;
}

button {
    margin-left: 10px;
    margin-top: 10px;
}

#numbers {
    width: 78.6%;
    /* border: 1px red solid; */
    float: left;
}

.number {
    font-size: 2.1rem;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-right: 22px;
}

.number:hover {
    opacity: 0.8;
}

#symbols {
    /* border: green 1px solid; */
    height: 320px;
    padding: 0;
    margin: 0;
}

.symbol {
    font-size: 3rem;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    margin-left: 15.6px;
    margin-top:15px;
}


#subtext{
    color:white;
    justify-self: right;
    /* border:1px red solid; */
    height:23px;
    align-self: flex-start;
    margin-right:10px;
    margin-top:10px;
}